In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Extracted:,"United Nations High Commissioner for Refugees"
"Date extracted:","08/03/2022 13:39 UTC"
"Last updated:","10 November 2021"
"Some data presented may differ from statistics published previously due to retroactive changes or the inclusion of previously unavailable data."

"Data table contains the following:","Population figures"
"Content type","End year stock population totals"
"Data quick link",https://www.unhcr.org/refugee-statistics/download/?url=VHI7gj
"Data definitions",https://www.unhcr.org/refugee-statistics/methodology/
"Usage licence",https://creativecommons.org/licenses/by/4.0/
"Population types included","REF,ROC,ASY,IDP,IOC,VDA,OOC,STA"
Years:
Origin:,all
"Country of asylum:",all

In [9]:
df = pd.read_csv('../../data/Refugee data query_data (1)/population.csv')

In [10]:
df

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Venezuelans displaced abroad,Stateless persons,Others of concern
0,2016,Afghanistan,AFG,Afghanistan,AFG,0,0,1797551,NaN,0,114221
1,2016,Afghanistan,AFG,Egypt,EGY,14,21,0,NaN,0,0
2,2016,Afghanistan,AFG,Argentina,ARG,5,0,0,NaN,0,0
3,2016,Afghanistan,AFG,Australia,AUS,9217,2077,0,NaN,0,0
4,2016,Afghanistan,AFG,Austria,AUT,20220,29783,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...
31741,2021,Zimbabwe,ZWE,Sweden,SWE,17,13,0,NaN,0,0
31742,2021,Zimbabwe,ZWE,Switzerland,CHE,9,5,0,NaN,0,0
31743,2021,Zimbabwe,ZWE,Thailand,THA,9,0,0,NaN,0,0
31744,2021,Zimbabwe,ZWE,United States of America,USA,729,1238,0,NaN,0,0
31745,2021,Zimbabwe,ZWE,Zimbabwe,ZWE,0,0,0,NaN,0,141

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31746 entries, 0 to 31745
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Year                            31746 non-null  int64
 1   Country of origin               31746 non-null  object
 2   Country of origin (ISO)         31447 non-null  object
 3   Country of asylum               31746 non-null  object
 4   Country of asylum (ISO)         31746 non-null  object
 5   Refugees under UNHCR's mandate  31746 non-null  int64
 6   Asylum-seekers                  31746 non-null  int64
 7   IDPs of concern to UNHCR        31746 non-null  int64
 8   Venezuelans displaced abroad    83 non-null     float64
 9   Stateless persons               31746 non-null  int64
 10  Others of concern               31746 non-null  int64
dtypes: float64(1), int64(6), object(4)
memory usage: 2.7+ MB

In [12]:
df.isnull().sum()

Year                                  0
Country of origin                     0
Country of origin (ISO)             299
Country of asylum                     0
Country of asylum (ISO)               0
Refugees under UNHCR's mandate        0
Asylum-seekers                        0
IDPs of concern to UNHCR              0
Venezuelans displaced abroad      31663
Stateless persons                     0
Others of concern                     0
dtype: int64

In [13]:
df.drop(columns ='Venezuelans displaced abroad', inplace = True)

In [14]:
df.isnull().sum()

Year                                0
Country of origin                   0
Country of origin (ISO)           299
Country of asylum                   0
Country of asylum (ISO)             0
Refugees under UNHCR's mandate      0
Asylum-seekers                      0
IDPs of concern to UNHCR            0
Stateless persons                   0
Others of concern                   0
dtype: int64